*.class
*.tmp
*.doc
*.docx
 
# Package Files #
*.jar
*.war
*.ear
 
# ignore Maven generated target folders
target
logs
 
# ignore eclipse files
.project
.classpath
.settings
.metadata

# ignore IDEA IntelliJ files
.idea
*.iml
com.zlst.*
